/HWMap.ods
/.~lock.HWMap.ods#
/Organs/GrandOrgue
/Organs/PG/AlessandriaV1.php
/Organs/SP/BillerbeckV1.php
/Organs/SP/BillerbeckV2.php
/Organs/PG/AlessandriaV2.php
/Organs/AV/BudaHillsV1.php
/nbproject/
/Test/.phpunit.result.cache
/Test/write.cmb
/Test/read.cmb
